@model WakilRecouvrement.Web.Models.ViewModel.StatLot

@{
    ViewBag.Title = "";
}
<script src="~/Scripts/jquery.min.js"></script>

<h2>Statistiques</h2>





    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    @using (Html.BeginForm("StatLot", "Statistique", FormMethod.Post, new { onsubmit = "showLoading()" }))
                    {
                    <div class="row">

                        <div class="col-xs-3  col-md-3">

                            @Html.Label("numLot", "Lot:", new { @class = "control-label " })

                            @Html.DropDownList("numLot", ViewData["list"] as SelectList, new { @class = "form-control", currentFilter = ViewBag.CurrentFilter })

                        </div>

                        <div class="col-xs-3  col-md-3">

                            @Html.Label("typeStat", "Type:", new { @class = "control-label " })

                            @Html.DropDownList("typeStat", ViewData["sortOrder"] as SelectList, new { @class = "form-control", currentFilter = ViewBag.CurrentFilter })

                        </div>

                        <div id="agenDrop" style="display:none" class="col-xs-3  col-md-3">

                            @Html.Label("agent", "Agent:", new { @class = "control-label " })

                            @Html.DropDownList("agent", ViewBag.AgentList as SelectList, new { @class = "form-control",currentFilter = ViewBag.CurrentFilter })

                        </div>

                        <div class="col-xs-3  col-md-3">

                            <div style="display:none" id="dateStat" class="form-group row">
                                <label for="RDVDateTime">Date:</label>
                                <input class="form-control" name="dateStat" type="date" id="statDate">
                            </div>
                        </div>
                        <br />
                        <div class="col-xs-3  col-md-10">

                            <p>
                                <input id="submitBtn" type="submit" class="btn btn-primary" value="Chercher" />

                                <button style="display:none" id="submitLoading" class="btn btn-primary" type="button" disabled>
                                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                    <span class="sr-only">Loading...</span>
                                </button>
                            </p>

                        </div>
                    </div>
                    }
                    </div>

                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-md-4">
                            <p class="text-center">
                                <strong>Stats. par lot</strong>
                            </p>

                            <div class="progress-group">
                                RDV (<span><small class="avg">@Html.DisplayFor(modelItem => Model.avgRdv) %</small></span>)
                                <span class="float-right"><b id="rdvNb">@Html.DisplayFor(modelItem => Model.rdv)</b>/<span class="affTot">@Html.DisplayFor(modelItem => Model.nb)</span></span>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-primary" id="avgRdvprogress" style="width: @Html.DisplayFor(modelItem => Model.avgRdv)%"></div>
                                </div>
                            </div>
                            <!-- /.progress-group -->

                            <div class="progress-group">
                                Faux numero (<span><small class="avg">@Html.DisplayFor(modelItem => Model.avgFn) %</small></span>)
                                <span class="float-right"><b id="FNNB">@Html.DisplayFor(modelItem => Model.fn)</b>/<span class="affTot">@Html.DisplayFor(modelItem => Model.nb)</span></span>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-danger" id="avgFnprogress" style="width: @Html.DisplayFor(modelItem => Model.avgFn)%"></div>
                                </div>
                            </div>

                            <!-- /.progress-group -->
                            <div class="progress-group">
                                <span class="progress-text">Versement (<span><small class="avg">@Html.DisplayFor(modelItem => Model.avgVers) %</small></span>) </span>
                                <span class="float-right"><b id="versement">@Html.DisplayFor(modelItem => Model.versement)</b>/<span class="affTot">@Html.DisplayFor(modelItem => Model.nb)</span></span>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-success" id="avgVersprogress" style="width: @Html.DisplayFor(modelItem => Model.avgVers)%"></div>
                                </div>
                            </div>

                            <!-- /.progress-group -->
                            <div class="progress-group">
                                En cours de traitement (<span><small class="avg">@Html.DisplayFor(modelItem => Model.avgencours) %</small></span>)
                                <span class="float-right"><b id="encours">@Html.DisplayFor(modelItem => Model.encours)</b>/<span class="affTot">@Html.DisplayFor(modelItem => Model.nb)</span></span>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-warning" id="avgEncoursprogress" style="width: @Html.DisplayFor(modelItem => Model.avgencours)%"></div>
                                </div>
                            </div>
                            <!-- /.progress-group -->
                        </div>

                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.card-footer -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>


    <script>

        function showLoading() {

            document.getElementById("submitLoading").style.display = "block";
            document.getElementById("submitBtn").style.display = "none";

        }


        var lot = document.getElementById("numLot")
        var type = document.getElementById("typeStat")
        var date = document.getElementById("dateStat")
        var dateVal = document.getElementById("statDate")
        dateVal.valueAsDate = new Date();

        type.onchange = function () {

            var x = document.getElementById("typeStat").value

            if (x == 1) {
                document.getElementById("agenDrop").style.display = "none"
                document.getElementById("dateStat").style.display = "none"

            }
            if (x == 2) {
                document.getElementById("dateStat").style.display = "block"
                document.getElementById("agenDrop").style.display = "none"

            }

            if (x == 3) {

                document.getElementById("agenDrop").style.display = "block"
                document.getElementById("dateStat").style.display = "none"

            }

            if (x == 4) {

                document.getElementById("dateStat").style.display = "block"
                document.getElementById("agenDrop").style.display = "block"

            }


        }





    </script>
