@model IEnumerable<WakilRecouvrement.Web.Models.ClientAffecteViewModel>

@{
    ViewBag.Title = "";
}




<br />
<div class="card">
    <div class="card-header" id="headingTwo">

        <h2>Client</h2>

    </div>

    <div class="card-body">
        <table class="table table-bordered table-condensed table-responsive" style="display:table">
            <tr>
                <th>
                   
                </th>
                <th>
                    NumLot
                </th>

                <th>
                    Compte
                </th>
                <th>
                    NomClient
                </th>
                <th>
                    Emploi
                </th>
                <th>
                    TelPortable
                </th>
                <th>
                    TelFixe
                </th>
                <th>
                    SoldeDebiteur
                </th>
                <th>
                    Agence
                </th>
                <th>
                    Adresse
                </th>
                <th>
                    Type
                </th>
                <th>
                    Numero
                </th>

            </tr>


            <tr class="p-3 mb-2 bg-white text-dark">
                <td>
                    @if (Session["username"].Equals(ViewBag.username))
                    {

                        @Html.ActionLink("Traiter", "AjouterNote", "AjouterNoteClient", new { id = ViewBag.id, msgError = "" }, null)

                    }
                </td>

                @if (ViewBag.lot != null)
                {
                   
                    <td>

                        @ViewBag.lot.NumLot

                    </td>

                    <td>
                        @ViewBag.lot.Compte
                    </td>
                    <td>
                        @ViewBag.lot.NomClient
                    </td>
                    <td>
                        @ViewBag.lot.Emploi
                    </td>


                    <td>
                        @ViewBag.lot.TelPortable
                    </td>


                    <td>
                        @ViewBag.lot.TelFixe
                    </td>

                    <td>
                        @ViewBag.lot.SoldeDebiteur
                    </td>
                    <td>
                        @ViewBag.lot.DescIndustry
                    </td>
                    <td>
                        @ViewBag.lot.Adresse
                    </td>
                    <td>
                        @ViewBag.lot.Type
                    </td>
                    <td>
                        @ViewBag.lot.Numero
                    </td>

                }



            </tr>


        </table>
    </div>
</div>

<br />
<br />

<div class="card">
    <div class="card-header" id="headingTwo">

        <h2>Historique d'activités</h2>

    </div>

    <div class="card-body">

        <table class="table table-bordered table-condensed table-responsive">
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Formulaire.EtatClient)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Formulaire.DateRDV)
                </th>


                <th>
                    @Html.DisplayNameFor(model => model.Formulaire.MontantDebInitial)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Formulaire.MontantDebMAJ)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Formulaire.MontantVerseDeclare)
                </th>


                <th>
                    @Html.DisplayNameFor(model => model.Formulaire.DescriptionAutre)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Formulaire.TraiteLe)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Formulaire.VerifieLe)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Formulaire.Status)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>

                        @Html.DisplayFor(modelItem => item.Formulaire.EtatClient)

                    </td>

                    <td>


                        @if (item.Formulaire.DateRDV.ToString().Equals("01/01/0001 00:00:00"))
                        {
                            <text></text>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Formulaire.DateRDV)
                        }


                    </td>


                    <td>


                        @Html.DisplayFor(modelItem => item.Formulaire.MontantDebInitial)


                    </td>

                    <td>

                        @Html.DisplayFor(modelItem => item.Formulaire.MontantDebMAJ)

                    </td>

                    <td>

                        @Html.DisplayFor(modelItem => item.Formulaire.MontantVerseDeclare)

                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => item.Formulaire.DescriptionAutre)

                    </td>
                    <td>
                        @if (item.Formulaire.TraiteLe.ToString().Equals("01/01/0001 00:00:00"))
                        {
                            <text></text>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Formulaire.TraiteLe)
                        }

                    </td>
                    <td>
                        @if (item.Formulaire.VerifieLe.ToString().Equals("01/01/0001 00:00:00"))
                        {
                            <text></text>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Formulaire.VerifieLe)
                        }
                    </td>
                    <td>
                        @if (item.Formulaire.Status.ToString().Equals("NON_VERIFIE"))
                        {
                            <text>Non verifié</text>
                        }
                        else if (item.Formulaire.Status.ToString().Equals("VERIFIE"))
                        {
                            <text>Verifié</text>

                        }
                        else if (item.Formulaire.Status.ToString().Equals("EN_COURS"))
                        {
                            <text>En attente...</text>
                        }
                    </td>

                </tr>
            }

        </table>


    </div>
</div>