<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Al-Wakil Recouvrement</title>

    <!-- Font Awesome Icons -->
    <!-- Google Font: Source Sans Pro -->


</head>
@{ 

    if(Session["username"]!=null)
    {
        ViewBag.bodyClass = "hold-transition sidebar-mini";
    }
    else
    {
        ViewBag.bodyClass = "hold-transition sidebar-collapse";
    }

    var role = Session["role"];
    var username = Session["username"];
}


<body class="@ViewBag.bodyClass">
    <div class="wrapper">

        @if (Session["username"] != null)
        {
            <div class="notification-icon" style="margin-top:10px">
                <span class="glyphicon glyphicon-envelope " style="font-size:25px"></span>
                <span class="badge" id="ntCnt"></span>
            </div>

            <div id="divNotificaion">

            </div>

            <!-- Navbar -->
            <nav class="main-header navbar navbar-expand navbar-white navbar-light">

                <ul class="navbar-nav ml-auto">
                    <!-- Messages Dropdown Menu -->
                    <li class="nav-item dropdown">

                        <a class="nav-link" data-toggle="dropdown" href="#">
                            <i class="fas fa-bell"></i>
                            <span id="nbNotif" class="badge badge-warning navbar-badge">0</span>
                        </a>

                        <div id="notifTable" class="dropdown-menu dropdown-menu-lg dropdown-menu-right">


                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                        </div>

                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                            <i class="fas fa-th-large"></i>
                        </a>
                    </li>
                </ul>
            </nav>


        }

        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            -
            <!-- Brand Logo -->
            <a href='@Url.Action("Index", "Home")' class="brand-link">
                <img src="~/adminlte/img/WakilLogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">AL Wakil Recouv. </span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->

                @if (Session["username"] != null)
                {
                    <div class="user-panel mt-3 pb-3 mb-3 d-flex">

                        <div class="info">

                            <a href="#" class="d-block">@Session["username"]</a>

                        </div>
                    </div>

                }

                <nav class="mt-2">

                    <ul id="myUL" class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                        @if (Session["role"] != null)
                        {
                            if (Session["role"].Equals("admin"))
                            {

                                <ul id="myUL">
                                    <li>

                                        <span class="box">

                                            <a class="nav-link">
                                                <p>
                                                    Lots
                                                </p>
                                            </a>

                                        </span>

                                        <ul class="nested">

                                            <li class="nav-item">
                                                <a href="@Url.Action("ImportLot", "Lot")" class="nav-link">
                                                    @*<i class="fas fa-upload mr-4"></i>*@
                                                    <p>Importer</p>
                                                </a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="@Url.Action("ConsulterClients", "Lot")" class="nav-link">
                                                    @*<i class="fas fa-book mr-4"></i>*@
                                                    <p>Consulter</p>
                                                </a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="@Url.Action("ChoisirLot", "Affectation")" class="nav-link">
                                                    @*<i class="fas fa-gavel mr-4"></i>*@
                                                    <p>Affecter</p>
                                                </a>
                                            </li>


                                        </ul>
                                    </li>
                                </ul>

                                <!-- Sidebar Menu

            <li class="nav-item has-treeview">
                <a href="#" class="nav-link active">
                    <i class="fa fa-address-book mr-2"></i>
                    <p>
                        Gestion des lots
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="@Url.Action("ImportLot", "Lot")" class="nav-link active">
                            <i class="fas fa-upload mr-4"></i>
                            <p>Importer un lot</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="@Url.Action("ConsulterClients", "Lot")" class="nav-link">
                            <i class="fas fa-book mr-4"></i>
                            <p>Consulter les clients</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="@Url.Action("ChoisirLot", "Affectation")" class="nav-link">
                            <i class="fas fa-gavel mr-4"></i>
                            <p>Affecter aux agents</p>
                        </a>
                    </li>

                            </ul>

                                </li>

                                    -->



                                <ul id="myUL">
                                    <li>

                                        <span class="box">

                                            <a class="nav-link ">
                                                <p>
                                                    Traitements
                                                </p>
                                            </a>
                                        </span>

                                        <ul class="nested">

                                            <li class="nav-item">

                                                <a href="@Url.Action("ValiderTraitement","Formulaire")" class="nav-link">

                                                    @*<i class="fas fa-check mr-3"></i>*@

                                                    <p>Valider </p>

                                                </a>

                                            </li>

                                            <li class="nav-item">
                                                <a href="@Url.Action("SuiviTraiement", "Formulaire")" class="nav-link">
                                                    @*<i class="fas fa-gavel mr-4"></i>*@
                                                    <p>Suivi</p>
                                                </a>
                                            </li>


                                            <li class="nav-item">

                                                <a href="@Url.Action("HistoriqueTraitements","Formulaire")" class="nav-link">

                                                    @*<i class="fas fa-archive mr-3"></i>*@

                                                    <p>Historique</p>

                                                </a>

                                            </li>


                                        </ul>
                                    </li>
                                </ul>


                                <ul id="myUL">
                                    <li>

                                        <span class="box">

                                            <a class="nav-link ">
                                                <p>
                                                    Banque et rentabilité
                                                </p>
                                            </a>

                                        </span>

                                        <ul class="nested">


                                            <li class="nav-item">

                                                <a href="@Url.Action("EnvoyerBanque","Formulaire")" class="nav-link">


                                                    <p>Mail</p>

                                                </a>

                                            </li>


                                            <li class="nav-item">

                                                <a href="@Url.Action("Rentablite","Formulaire")" class="nav-link">
                                                    <p>Rentabilité</p>
                                                </a>

                                            </li>


                                        </ul>
                                    </li>
                                </ul>








                                @*<li class="nav-item has-treeview">
                    <a href="#" class="nav-link active">
                        <i class="fas fa-list-ul mr-2"></i>
                        <p>
                            Gestion des traitements
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>

                    <ul class="nav nav-treeview">


                    </ul>
                </li>*@



                            }
                        }


                        @if (Session["role"] != null)
                        {

                            if (Session["role"].Equals("agent"))
                            {

                                <li class="nav-item">

                                    <a href="@Url.Action("AffectationList", "Affectation", new { traite = "SAUF",numLot="0",sortOrder="0" })" class="nav-link">

                                        @*<i class="fas fa-fax mr-2" aria-hidden="true"></i>*@

                                        <p>Traiter les affectations</p>

                                    </a>

                                </li>

                                <li class="nav-item">

                                    <a href="@Url.Action("SuiviRDV","Formulaire",new {RDVType="RDV_J", numLot="0",sortOrder="0" })" class="nav-link">

                                        <p>Mes RDV ( <span id="nbSuivi">0</span> ) </p>

                                    </a>

                                </li>

                                <li class="nav-item">

                                    <a href="@Url.Action("MesRappels","Formulaire",new {RappelDate=DateTime.Now.Date +"", numLot="0",sortOrder="0" })" class="nav-link">

                                        <p>Mes Rappels ( <span id="rappelNB">0</span> ) </p>

                                    </a>

                                </li>

                                <li class="nav-item">

                                    <a href="@Url.Action("TraitementRejetes","Formulaire",new {RappelDate=DateTime.Now.Date +"", numLot="0",sortOrder="0" })" class="nav-link">

                                        <p>Traitements rejetés ( <span id="rejetesNB">0</span> ) </p>

                                    </a>

                                </li>

                            }

                            <li class="nav-item">

                                <a href="@Url.Action("SuiviClient","Formulaire",new {traite="SAUF" })" class="nav-link">

                                    @*<i class="fas fa-address-card mr-2" aria-hidden="true"></i>*@

                                    <p>Suivi des affectations</p>

                                </a>

                            </li>

                            if (Session["role"].Equals("admin"))
                            {





                                <li class="nav-item">

                                    <a href="@Url.Action("Index","Statistique")" class="nav-link">
                                        @*<i class="fas fa-percent mr-2" aria-hidden="true"></i>*@
                                        <p>Statistiques</p>
                                    </a>

                                </li>

                                <li class="nav-item">

                                    <a href="@Url.Action("genererFacture","Facture")" class="nav-link">
                                        @*<i class="fas fa-percent mr-2" aria-hidden="true"></i>*@
                                        <p>Facture</p>
                                    </a>

                                </li>

                                <li class="nav-item">

                                    <a href="@Url.Action("Renseigner","Facture")" class="nav-link">
                                        @*<i class="fas fa-percent mr-2" aria-hidden="true"></i>*@
                                        <p>Renseigner</p>
                                    </a>

                                </li>

                                <li class="nav-item">

                                    <a href="@Url.Action("AccountList","Home")" class="nav-link">
                                        @*<i class="fas fa-users mr-2"></i>*@
                                        <p>Gestion des comptes</p>
                                    </a>

                                </li>


                            }

                            <li class="nav-item">

                                <a href="@Url.Action("ChangePassword","Authentification")" class="nav-link">
                                    @*<i class="fas fa-cog fa-fw mr-2"></i>*@
                                    <p>Parametre du compte</p>
                                </a>

                            </li>

                            <li class="nav-item">

                                <a href="@Url.Action("Deconnect","Authentification")" class="nav-link">
                                    @*<i class="fa fa-sign-out mr-2"></i>*@
                                    <p>Se deconnecter</p>
                                </a>

                            </li>

                        }

                    </ul>

                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">@ViewBag.Title</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                @if (@ViewContext.RouteData.Values["controller"].ToString() != "Home" ||
                                    @ViewContext.RouteData.Values["action"].ToString() != "Index")
                                {
                                    <li class="breadcrumb-item">
                                        @Html.ActionLink("Home Page", "Index", "Home")
                                    </li>
                                }
                                <li class="breadcrumb-item active">@ViewBag.Title</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    @RenderBody()

                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
            <div class="p-3">
                <h5>Title</h5>
                <p>Sidebar content</p>
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <!-- Default to the left -->
            <strong>AL-Wakil Recouvrement .</strong>
        </footer>
    </div>

    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/adminlte/js")
    @RenderSection("scripts", required: false)

    <link href="~/adminlte/css/treeViewJs.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Scripts/toastr.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/toastr.min.css">
    <script type="text/javascript" src="~/Scripts/notify.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/adminlte/js/treeViewJs.js"></script>

    <script type="text/javascript">



    $(document).ready(function () {

            if (@Html.Raw(Json.Encode(@role))== "agent") {

            $.ajax({
                type: 'POST',
                url: '@Url.Action("SuiviRDVNB", "Formulaire")',
                dataType: 'json',
                data: {  },
                success: function (data) {

                    document.getElementById("nbSuivi").innerHTML = data["nb"]
                    document.getElementById("rappelNB").innerHTML = data["rappelNB"]
                    document.getElementById("rejetesNB").innerHTML = data["rejetes"]
                }

            })

        }
        })






    </script>















</body>




</html>
