@model IEnumerable<WakilRecouvrement.Domain.Entities.Formulaire>

@{
    ViewBag.Title = "";
}


<h2>Client a traité </h2>
<br />

<table class="table">
    <tr>

        <th>
            NumLot
        </th>

        <th>
            Compte
        </th>
        <th>
            NomClient
        </th>
        <th>
            TelPortable
        </th>
        <th>
            TelFixe
        </th>
        <th>
            SoldeDebiteur
        </th>
        <th>
            Agence
        </th>
        <th>
            Adresse
        </th>
        <th>
            Type
        </th>
        <th>
            Numero
        </th>

        <th></th>
    </tr>


    <tr class="p-3 mb-2 bg-white text-dark">
        <td>
            @ViewBag.affectation.Lot.NumLot
        </td>

        <td>
            @ViewBag.affectation.Lot.Compte
        </td>
        <td>
            @ViewBag.affectation.Lot.NomClient
        </td>

        <td>
            @ViewBag.affectation.Lot.TelPortable
        </td>
        <td>
            @ViewBag.affectation.Lot.TelFixe
        </td>
        <td>
            @ViewBag.affectation.Lot.SoldeDebiteur
        </td>
        <td>
            @ViewBag.affectation.Lot.DescIndustry
        </td>
        <td>
            @ViewBag.affectation.Lot.Adresse
        </td>
        <td>
            @ViewBag.affectation.Lot.Type
        </td>
        <td>
            @ViewBag.affectation.Lot.Numero
        </td>

    </tr>


</table>

<br />
<h2>Remplir Formulaire</h2>

@using (Html.BeginForm("CreerFormulaireNote", "Formulaire", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <input name="id" type="text" value="@ViewBag.id" style="visibility:hidden">

    <div class="form-group">
        @Html.Label("EtatClient", "Note client", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("EtatClient", ViewBag.TraiteList as SelectList, new { @class = "form-control", id = "dropdown" })

        </div>
    </div>

    <div class="form-group" id="autre">
        @Html.Label("DescriptionAutre", "Description", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("DescriptionAutre", new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>


    <div id="datetimePickerRDV" class="form-group row">
        <label for="example-datetime-local-input" class="col-2 col-form-label">RDV pour le:</label>
        <div class="col-8">
            <input class="form-control" name="RDVDateTime" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
        </div>
    </div>

    <div id="datetimePickerRDVReporte" class="form-group row">
        <label for="example-datetime-local-input" class="col-2 col-form-label">RDV reporté pour le:</label>
        <div class="col-8">
            <input class="form-control" name="RDVReporteDateTime" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
        </div>
    </div>

    <div id="datetimePickerRappel" class="form-group row">
        <label for="example-datetime-local-input" class="col-2 col-form-label">Rappel pour le:</label>
        <div class="col-8">
            <input class="form-control" name="datetimePickerRappel" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
        </div>
    </div>

    <div id="montant" class="form-group row">
        <label id="textLabel" for="example-datetime-local-input" class="col-2 col-form-label"></label>
        <div class="col-8">

            <input name="soldetranche" type="number" step="0.001" id="exampleInputAmount" class="form-control">

        </div>
    </div>

    <div id="recu" class="form-group row">
        <label id="textLabel" for="example-datetime-local-input" class="col-2 col-form-label"></label>
        <div class="col-8">

            <div class="custom-file">
                <input type="file" name="postedFile" class="custom-file-input" id="customFileLang" lang="es">
                <label class="custom-file-label" for="customFileLang">Importer recu</label>


            </div>
            <br />
            <img id="blah" width="200" height="150" src="#" alt="" />

        </div>
    </div>


    <div class="form-group">

        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Confirmer" class="btn btn-default" />
            <span class="text-danger">@ViewBag.errormsg</span>

        </div>

    </div>

</div>
}


<br />
<h2>Historique d'activités</h2>
<br />

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.EtatClient)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.DateRDV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRDVReporte)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.MontantDebInitial)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.MontantDebMAJ)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.MontantVerseDeclare)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.DescriptionAutre)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.TraiteLe)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.VerifieLe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="p-3 mb-2 bg-white text-dark">
            <td>

                @Html.DisplayFor(modelItem => item.EtatClient)

            </td>

            <td>


                @if (item.DateRDV.ToString().Equals("01/01/0001 00:00:00"))
                {
                    <text></text>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.DateRDV)
                }


            </td>
            <td>

                @if (item.DateRDVReporte.ToString().Equals("01/01/0001 00:00:00"))
                {
                    <text></text>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.DateRDVReporte)
                }
            </td>

            <td>


                @Html.DisplayFor(modelItem => item.MontantDebInitial)


            </td>

            <td>

                @Html.DisplayFor(modelItem => item.MontantDebMAJ)

            </td>

            <td>

                @Html.DisplayFor(modelItem => item.MontantVerseDeclare)

            </td>
            <td>

                @Html.DisplayFor(modelItem => item.DescriptionAutre)

            </td>
            <td>
                @if (item.TraiteLe.ToString().Equals("01/01/0001 00:00:00"))
                {
                    <text></text>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.TraiteLe)
                }

            </td>
            <td>
                @if (item.VerifieLe.ToString().Equals("01/01/0001 00:00:00"))
                {
                    <text></text>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.VerifieLe)
                }
            </td>
            <td>
                @if (item.Status.ToString().Equals("NON_VERIFIE"))
                {
                    <text>Non verifié</text>
                }
                else if (item.Status.ToString().Equals("VERIFIE"))
                {
                    <text>Verifié</text>

                }
                else if (item.Status.ToString().Equals("EN_COURS"))
                {
                    <text>En attente...</text>
                }
            </td>

        </tr>
    }

</table>

<script>

    var datetimePicker = document.getElementById("datetimePicker")

    var dropdown = document.getElementById("dropdown");


    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                document.getElementById("blah").setAttribute('src', e.target.result)
            }

            reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
    }

    function hideAll() {
        document.getElementById("autre").style.display= "none"
        document.getElementById("datetimePickerRDVReporte").style.display= "none"
        document.getElementById("datetimePickerRDV").style.display= "none"
        document.getElementById("montant").style.display= "none"
        document.getElementById("datetimePickerRappel").style.display= "none"
        document.getElementById("recu").style.display= "none"

    }

    hideAll()

    document.getElementById("customFileLang").onchange = function () {
        readURL(this);
    }



        dropdown.onchange = function () {

            switch (dropdown.value) {
                case "INJOIGNABLE":
                    hideAll();

                    break;
                case "FAUX_NUM":
                    hideAll();

                    break;
                case "NRP":
                    hideAll();

                    break;
                case "RDV":
                    hideAll();
                    document.getElementById("datetimePickerRDV").style.display = "block"
                    break;
             
                case "SOLDE":
                    hideAll();

                       document.getElementById("montant").style.display = "block"
                    document.getElementById("recu").style.display = "block"

                    document.getElementById("textLabel").innerHTML = "Versement en TND:";
                    document.getElementById("exampleInputAmount").max = "any";
                    document.getElementById("exampleInputAmount").value = @ViewBag.soldeDeb+ "";
                    document.getElementById("exampleInputAmount").min = @ViewBag.soldeDeb +"";

                    break;
                case "REFUS_PAIEMENT":
                    hideAll();

                    break;
                case "A_VERIFIE":

                    hideAll();
                 

                    break;
                case "RAPPEL":
                    hideAll();
                    document.getElementById("datetimePickerRappel").style.display = "block"

                    break;
                case "RACCROCHE":
                    hideAll();

                    break;
                case "SOLDE_TRANCHE":
                    hideAll();

                    document.getElementById("montant").style.display = "block"
                    document.getElementById("recu").style.display = "block"

                    document.getElementById("textLabel").innerHTML = "Tranche en TND:";

                    document.getElementById("exampleInputAmount").max =  @ViewBag.soldeDeb +"";
                    document.getElementById("exampleInputAmount").value = "1.000";
                    document.getElementById("exampleInputAmount").min =0 +"";

                    break;
                case "AUTRE":
                    hideAll();
                    document.getElementById("autre").style.display = "block"

                    break;
            }

        }


</script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
