@model PagedList.IPagedList<WakilRecouvrement.Web.Models.ClientAffecteViewModel>

@using PagedList.Mvc;
@{
    ViewBag.Title = "";
}


@using (Html.BeginForm("TraitementRejetes", "Formulaire", FormMethod.Post, new { onsubmit = "showLoading()" }))
{

<div class="card">
    <div class="card-header" id="headingTwo">

        <h2>Traitements Rejetés</h2>

    </div>
    <div class="card-body">

        <div class="col-xs-3 col-md-6">

            @Html.Label("SearchString", "Chercher:", new { @class = "control-label " })

            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })

        </div>

        <br />
        <div class="row">

            <div class="col-xs-3  col-md-10">


                <p>
                    <input id="submitBtn" type="submit" class="btn btn-primary" value="Chercher" />

                    <button style="display:none" id="submitLoading" class="btn btn-primary" type="button" disabled>
                        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                        <span class="sr-only">Loading...</span>
                    </button>
                </p>

            </div>



        </div>


    </div>


    <div class="card-footer text-muted">


        <div class="col-xs-4">

            <span><strong>@ViewBag.total</strong> Client(s) trouvés</span>

        </div>

    </div>

</div>

}


<table class="table table-bordered table-condensed table-responsive" style="display:table">
    <tr>

        <th>

            Trait.

        </th>

        <th>
            Num Lot
        </th>
        <th>
            Etat
        </th>
        <th>
            Date affectation
        </th>

        <th>
            Compte
        </th>
        <th>
            IDClient
        </th>
        <th>
            Nom Client
        </th>
        <th>
            Solde Debiteur
        </th>

        <th>
            Tel Portable
        </th>

        <th>
            Tel Fixe
        </th>
        <th>
            Agence
        </th>
        <th>
            Adresse
        </th>
        <th>
            Numero
        </th>

    </tr>

    @foreach (var item in Model)
    {




        string TelPortableFnClassStyle = "";
        string TelFixeFnClassStyle = "";

        if (item.Lot.TelPortableFN)
        {
            TelPortableFnClassStyle = "bg-secondary";
        }
        else
        {
            TelPortableFnClassStyle = "";

        }

        if (item.Lot.TelFixeFN)
        {
            TelFixeFnClassStyle = "bg-secondary";

        }
        else
        {
            TelFixeFnClassStyle = "";

        }

        <tr class="p-3 mb-2 bg-white text-dark">

            <td>
                @Html.ActionLink("Traiter", "CreerFormulaire", "Formulaire", new { @class = "btn btn-default", id = item.Affectation.AffectationId, msgError = "" }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lot.NumLot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Formulaire.EtatClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Affectation.DateAffectation)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Lot.Compte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lot.IDClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lot.NomClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lot.SoldeDebiteur)
            </td>
            <td class="@TelPortableFnClassStyle">
                @Html.DisplayFor(modelItem => item.Lot.TelPortable)
            </td>
            <td class="@TelFixeFnClassStyle">
                @Html.DisplayFor(modelItem => item.Lot.TelFixe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lot.DescIndustry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lot.Adresse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lot.Numero)
            </td>

        </tr>
    }

</table>

<script>

    function showLoading() {

        document.getElementById("submitLoading").style.display = "block";
        document.getElementById("submitBtn").style.display = "none";

    }

</script>


<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("TraitementRejetes",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))